html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: white;
}

.ui.fixed.menu {
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  );
}

h1.ui.header {
  font-size: 4em;
}

.dashboard-header {
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important;
}

.dashboard-content  {
  background-color: white;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.pagescontent{
  padding-top: 8em;
}

.ui.card.featurecard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 2em; */
  min-height: 8em;
  /* max-height: 8em; */
  min-width: 8em;
  /* max-width: 10em; */
}
